ml/tensorflow/mine/*.h5
*.code-workspace
*.png
ml/tensorflow/mine/logs/
ml/tensorflow/mine/my_model/
ml/tensorflow/mine/my_model2/
ml/tensorflow/mine/temp.*
*.o
*.so
py/c-extend/s1/PackageName.egg-info/*
*.egg
*.h5
logs/
my_model/
*/__pycache__/
ml/tensorflow/mine/data/
ml/tensorflow/mine/model_create/__pycache__/
models/
ml/tensorflow/mine/log/
data/